<div class="dp-demo-page">
  <div class="dp-demo-container" [ngClass]="{'dp-not-top': !isAtTop}">
    <div class="dp-picker-container" *ngIf="pickerMode === 'popup'">
      <h2>Reservation</h2>
      <form #form="ngForm">
        <div class="arrival-date">
          <label>Arrival Date</label><br>
          <dp-day-picker id="datePicker"
                        name="dateItem"
                        #dateItem="ngModel"
                        #dayPicker
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="'dp-material'">
          </dp-day-picker>
        </div>
        <div class="departure-date">
          <label>Departure Date</label><br>
          <dp-day-picker id="datePicker"
                        name="depDateItem"
                        #depDateItem="ngModel"
                        #dayPicker
                        [(ngModel)]="dateDep"
                        (ngModelChange)="log($event)"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="'dp-material'">
          </dp-day-picker>
        </div>
        <div class="number-days">
          <input name="numberDays" [(ngModel)]="numberOfDaysStay">
        </div>
        <div class="price-avail-button">
          <button>Check Price & Availability</button>
        </div>

      </form>
    </div>

    <div class="dp-inline" *ngIf="pickerMode === 'inline'">
      <label>Calendar</label><br>
      <dp-calendar
          [theme]="'dp-material'"
          [(selected)]="dates"
          (selectedChange)="log($event)"
          [config]="config">
      </dp-calendar>
    </div>
  </div>