<div class="dp-demo-page">
  <div class="dp-demo-container" [ngClass]="{'dp-not-top': !isAtTop}">
    <div class="dp-picker-container" *ngIf="pickerMode === 'popup'">
      <h2>Reservation</h2>
      <form #form="ngForm">
        <div class="arrival-date">
          <label>Arrival Date</label><br>
          <dp-day-picker id="datePicker"
                        name="dateItem"
                        #dateItem="ngModel"
                        #dayPicker
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="'dp-material'">
          </dp-day-picker>
        </div>
        <div class="departure-date">
          <label>Departure Date</label><br>
          <dp-day-picker id="datePicker"
                        name="depDateItem"
                        #depDateItem="ngModel"
                        #dayPicker
                        [(ngModel)]="dateDep"
                        (ngModelChange)="log($event)"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="'dp-material'">
          </dp-day-picker>
        </div>
        <div class="number-days">
          <input name="numberDays" [(ngModel)]="numberOfDaysStay">
        </div>
        <div class="price-avail-button">
          <button (click)="lgModal.show()">Check Price & Availability</button>
        </div>

      </form>
    </div>

    <div class="dp-inline" *ngIf="pickerMode === 'inline'">
      <label>Calendar</label><br>
      <!--<dp-calendar
          [theme]="'dp-material'"
          [(selected)]="dates"
          (selectedChange)="log($event)"
          [config]="config">
      </dp-calendar>-->
    </div>
  </div>

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Rooms Matching your dates</h4>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="date-selection">
            <div class="selected-date-arr">
              <label>Arrival Date</label><br>
              <dp-day-picker id="datePicker"
                        name="dateItem"
                        #dateItem="ngModel"
                        #dayPicker
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="'dp-material'"></dp-day-picker>
            </div>
            <div class="selected-date-dep">
              <label>Departure Date</label><br>
              <dp-day-picker id="datePicker"
                        name="depDateItem"
                        #depDateItem="ngModel"
                        #dayPicker
                        [(ngModel)]="dateDep"
                        (ngModelChange)="log($event)"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="'dp-material'"></dp-day-picker>
            </div> 
            <div class="guest">
              Guests: {{numberOfDaysStay}}
            </div> 
            <div class="price">
              Price: {{ totalPrice }}
            </div> 
            <div class="book-now">
              <button class="btn btn-primary">Book</button>
            </div> 
          </div>
          <div class="room-list col-sm-12">
            <div class="room col-sm-3" *ngFor="let room of typesOfRooms">
              <!--<p>Room Name: {{room.name}}</p>-->
              <!--{{room | json}}-->
              <a >
              <img class="product-thumb" alt="img" [src]="room.images">
              <div class="product-productMetaInfo">
                <!--<div class="product-brand">{{ room.name }}</div>-->
                <h4 class="product-product">{{ room.name }} </h4>
                <button class="btn btn-primary" (click)="updateRoomInventorySelection(room)">Select</button>
                <div class="product-price">
                  <span>
                    <!-- Discounted price -->
                    <!--<span class="product-discountedPrice">{{ }}</span>-->
                    <!-- Original price -->
                    <!--<span class="product-strike"> react-text: 485 Rs.  /react-text  react-text: 486 1699 /react-text </span>-->
                  </span>
                  <!--Percentage off --><!--<span class="product-discountPercentage">(40% OFF)</span>-->
                </div>
                <!-- Product Size --><!--<div class="product-sizes">Sizes: S, M, L, XL, XXL</div>-->
              </div>
            </a>
            <div class="product-sizeDisplayDiv">
              <div class="product-sizeDisplayHeader">
                <!--<span>Select a size</span>-->
                <span class="myntraweb-sprite product-sizeDisplayRemoveMark sprites-remove"></span>
              </div>
              <!--<div class="product-sizeButtonsContaier">
                <button class="product-sizeButton">S</button>
                <button class="product-sizeButton">M</button>
                <button class="product-sizeButton">L</button>
                <button class="product-sizeButton">XL</button>
                <button class="product-sizeButton">XXL</button>
              </div>-->
            </div>
            <div class="product-actions">
              <!--<span class="product-actionsButton product-wishlist">save</span>
              <span class="product-actionsButton product-addToBag">
                <span (click)="addToCart(product)">Add to bag</span>
              </span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>